<launch>
  <arg name="world_file"     default=" $(env TURTLEBOT_STAGE_WORLD_FILE)"/>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="robot_0/odom" to="robot_0/odom"/>
    <remap from="robot_0/base_pose_ground_truth" to="robot_0/base_pose_ground_truth"/>
    <remap from="robot_0/cmd_vel" to="robot_0/mobile_base/commands/velocity"/>
    <remap from="robot_0/base_scan" to="robot_0/scan"/>
    <remap from="robot_1/odom" to="robot_1/odom"/>
    <remap from="robot_1/base_pose_ground_truth" to="robot_1/base_pose_ground_truth"/>
    <remap from="robot_1/cmd_vel" to="robot_1/mobile_base/commands/velocity"/>
    <remap from="robot_1/base_scan" to="robot_1/scan"/>
  </node>
</launch>
