<launch>
 <!-- <include file="$(find turtlebot_bringup)/launch/minimal.launch" /> -->
  <group ns="robot_0">
   <param name="tf_prefix" value="robot_0" />
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find rplidar_ros)/launch/kobuki_rplidar.launch" />
  </group>
</launch>
